<!DOCTYPE html>
<html>
  <head>
    <title>TurboNotebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/n_icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


  </head>

  <body style="background-image: url(<%= ENV['BACKGROUND_IMAGE'] %>)">  
    <main class="container mx-auto mt-28 px-5 flex">
    <%# <p class="notice"><%= notice %></p>
    <%# <p class="alert"><%= alert %></p>
    <%= render "layouts/alert" %>

  <header>
  <nav>
  <h1 style="text-align:center;font-size:35px">NoteBook taking application<h1>
  <% if user_signed_in? %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% end %>
  
  </nav>
  </header>
      <%= yield %>
    </main>
  </body>
</html>